* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

img {
    display: block;
    border: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
    color: #1F1F1F;
}

p{
    color: #1F1F1F;
    font-size: 18px;
}

h2{
    color:#1F1F1F;
}

h3 {
    color: #1F1F1F;
}

h4{
    color: #1F1F1F;
}

body {
    color: #1F1F1F;
    font-family: "Pretendard, sans-serif";
}